@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto";
    height: 100vh;
}

.card{
    width: 130px;
    height: 130px;
    transform-style: preserve-3d;
    transition: transform .6s ease-in-out;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.front-page{
    position: absolute;
    width: 100%;
    height: 100px;
    backface-visibility: hidden;
    border-radius: 15px;
}

.card-info{
    position: absolute; /* 絶対配置を有効化 */
    top: 50%; /* 上から50%の位置 */
    left: 50%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 自分の幅と高さの半分だけ引く */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center; 
}

.card-title{
    font-style: 2rem;
    font-weight: bold;
}

